

/*boton enviar*/
.button-style {
  background-color: #56a1c4;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8rem;;
  line-height: 1em;
  outline: none;
  padding: 0.8rem 2.5rem 0.7rem;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none !important;
}

.showcase-btn {
  margin: 1.3rem;
}

.button-style:before,
.button-style:after {
  border-color: transparent;
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  border-style: solid;
  border-width: 0;
  content: "";
  height: 1.8rem;
  position: absolute;
  width: 1.8rem;
}

.button-style:before {
  border-color: hsl(20, 16%, 96%);
  border-left-width: 2px;
  border-top-width: 2px;
  left: -5px;
  top: -5px;
}

.button-style:after {
  border-bottom-width: 2px;
  border-color: #c47135;
  border-right-width: 2px;
  bottom: -5px;
  right: -5px;
}

.button-style:hover,
.button-style.hover {
  background-color: #c47135;
  color: #ffffff;
}

.button-style:hover:before,
.button-style.hover:before,
.button-style:hover:after,
.button-style.hover:after {
  height: 100%;
  width: 100%;
}

/*caracteristicas*/
#features {
    background: #fff;
    padding-top: 70px;
    margin-bottom: 80px;
}

.intro h4:after {
    content: '';
    width: 60px;
    height: 2px;
    background: #2AAFC0;
    position: absolute;
    bottom: 0;
    left: calc(50% - 30px);
}

.features-caption h3{
  font-size: 35px;
  font-weight: bold;
}


.features-caption h4{
 font-size: 30px;
}


.features-caption p {
    width: 70%;
    margin: auto;
    margin-top: 60px;
    margin-bottom: 60px;
}

.features-row-2 {
  margin-top: 40px;
}

.features-section-2 {
  margin-top: 80px;
}

.features-section-2-col-1 {
  background-position: center;
  height: 500px;
}

.features-section-2-col-2 {
  background-color: #f7f7f7;
  height: 500px;
  padding: 30px;
}

.features-section-2-col-2__content {
  width: 100%;
  background-color: #ffffff;
  padding: 20px;
  margin: auto;
  height: 100%;
  padding: 100px 10%;
  -webkit-box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.08);
  text-align: center;
}

/*sucursal*/
#portfolio {
  padding-top: 100px;
}

/*equipo de trabajo*/
#teams {
  background-color: #27a599;
  width: 100%;
  position: relative;
  color: #ffffff;
}

div#teams {
  padding-top: 60px;
  padding-bottom: 30px;
}

.text-center {
    text-align: center!important;
}

.teams-heading span {
  font-size: 1.25rem;
  display: block;
  text-transform: capitalize;
  color: #00bcd4;
  text-align: center;
}

.teams-heading h1 {
  font-weight: 300;
  text-align: center;
}

.heading_space {
    margin-bottom: 4.125rem;
}

.teams-item {
  background-color: #ffffff;
  height: 400px;
}

.teams-items-img img {
  display: block;
  width: 100%;
}

.teams-item {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.teams-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.teams-item .profile-image {
  padding: 15% 10% 0;
}

.teams-item .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}

.teams-item div {
  padding: 5% 10% 15%;
}

.teams-item h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.teams-item h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.teams-item .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.teams-item .icons i:hover {
  color: #555;
}

.teams-item .icons i a {
  text-decoration: none;
}

@media (max-width: 705.98px) {
  .teams-item-box {
    margin: 0 auto;
    width: 300px;
  }
 }

/*equipo de trabajo*/
/*formulario de contacto v2*/
.contact {
  padding-top: -30px;
}
.container .map {
  width: 100%;
  height: 200px;
}

iframe {
  width: 100%;
  border: none;
}
.contact form {
  margin: 3rem;
}

.contact-icon {
  text-align: center;
  font-size: 35px;
}
.text-blue {
  color: rgb(0, 171, 201);
}

.contact-heading {
  margin-top: 2rem;
}

.form-input-style {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  background-color: #ddd;
  font-size: 13px;
  height: 45px;
}


.form-input-style-message {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  background-color: #ddd;
  font-size: 13px;
}

@media (max-width: 705.98px) {
  
  .contact p {
    text-align: center;
  }

 }
 /*formulario de contacto v2*/






