/*INICIO COLORES*/
/*FIN COLORES*/
/*INICIO COLORES DE FONDO*/
/*FIN COLORES DE FONDO*/
/*CONTENEDORES*/
#contenedor-maestro {
  border: 5px double rgb(189, 203, 228);
}

main{
  padding-top: 106px;
}

#contenedor-principal-background {
  width: 100%;
  height: 40%;
  background-image: url("img/pan-main.jpg");
  background-size: cover;
 
}

#contenedor-columnas {
  text-align: center;
  box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

#nosotros_contenedor1 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  padding-top: 105px;

}
#nosotros_contenedor2 {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
}


#productos_contenedor1 {
  padding-top: 100px;
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid rgb(189, 203, 228);
}

#client {
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid rgb(189, 203, 228);
  box-shadow: 0px 0px 10px rgb(160, 160, 160);
}

#contenedor-info1 {
  background-image: url("img/raconto3.png");
  background-size: cover;
  grid-area: contenedor-info1;
  background-color: yellow;
  border: 1px solid rgb(189, 203, 228);
  text-align: center;
}

#contenedor-info2 {
  background-image: url("img/mamut.png");
  background-size: cover;
  grid-area: contenedor-info2;
  background-color: violet;
  border: 1px solid rgb(189, 203, 228);
  text-align: center;
}

#contenedor-info3 {
  background-image: url("img/schipdog.png");
  background-size: cover;
  grid-area: contenedor-info3;
  background-color: thistle;
  border: 1px solid rgb(189, 203, 228);
  text-align: center;
}

#ubicacion_contenedor1 {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 100px;
  padding-bottom: 30px;
}



#contacto_contenedor1 {
  margin-top: 10px;
  margin-bottom: 10px;
}



/*CONTENEDORES*/
/*NAVEGADOR*/
.navbar-brand {
  border: 1px solid rgb(194, 173, 173);
}

#navegador {
  border: 1px solid rgb(194, 173, 173);
}

/*NAVEGADOR*/
/*INICIO CONTENEDOR GRID+AREAS*/
#nuestros-clientes {
  border: 1px solid rgb(189, 203, 228);
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: center;
  height: 50%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "contenedor-info1 contenedor-info2" "contenedor-info1 contenedor-info3";
}

/*INICIO CONTENEDOR FLEX-GRID*/
.contenedor-flex1 {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgb(189, 203, 228);
  text-align: center;
}

.contenedor-flex2 {
  margin-top: 30px;
  margin-bottom: 30px;
  border: 5px inset rgb(224, 224, 224);
  display: flex;
  justify-content: space-evenly;
}

.caja1 {
  border: 1px solid tomato;
  width: 150px;
  height: 150px;
  text-align: center;
  background-image: url("img/prof1.png");
  background-size: cover;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.caja2 {
  border: 1px solid tomato;
  width: 150px;
  height: 150px;
  text-align: center;
  background-image: url("img/prof2.png");
  background-size: cover;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
}

.caja3 {
  border: 1px solid tomato;
  width: 150px;
  height: 150px;
  text-align: center;
  background-image: url("img/prof3.png");
  background-size: cover;
  color: white;
  -webkit-text-stroke: 1px black;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top: 40px;
}

/*FIN CONTENEDOR FLEX*/
/*INICIO BOTON-UP*/
.botonup {
  position: fixed;
  top: 85%;
  left: 1%;
  z-index: 1;
}

/*FIN BOTON-UP*/
/*INICIO BOTON-MODAL*/
.boton-modal {
  padding: 10px;
  background-color: #fff;
}
.boton-modal label {
  padding: 10px 30px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.boton-modal label:hover {
  background-color: #185E83;
}

/*FIN BOTON-MODAL*/
/*INICIO Ventana Modal*/
#btn-modal {
  display: none;
}
#btn-modal:checked ~ .container-modal {
  display: flex;
}

.container-modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(144, 148, 150, 0.8);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

#ingredientes {
  text-align: left;
}

.content-modal {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #fff;
  border-radius: 4px;
}
.content-modal h2 {
  margin-bottom: 15px;
}
.content-modal p {
  padding: 15px 0px;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
.content-modal .btn-cerrar {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.content-modal .btn-cerrar label {
  padding: 7px 10px;
  background-color: #5488a3;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: all 300ms ease;
}
.content-modal .btn-cerrar label:hover {
  background-color: #185E83;
}

.cerrar-modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/*FIN Ventana Modal*/
/*INICIO-RRSS*/
.social-icons {
  list-style: none;
  padding: 0;
  margin: 0;
}
.social-icons li {
  display: inline-block;
  margin-right: 10px;
}
.social-icons li a {
  color: #0e2db8;
  text-decoration: none;
  font-size: 20px;
}
.social-icons li a i {
  display: inline-block;
  width: 30px;
  height: 30px;
}

/*INICIO-RRSS*/
/*INICIO-MEDIA*/
@media only screen and (max-width: 400px) {
  #nuestros-clientes {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "contenedor-info1 contenedor-info1" "contenedor-info2 contenedor-info3";
  }
}
@media screen and (min-width: 380px) {
  .botonup {
    position: fixed;
    top: 85%;
    left: 1%;
    z-index: 1;
  }
}
@media screen and (max-width: 800px) {
  .content-modal {
    width: 80%;
    align-items: center;
  }
}
/*FIN-MEDIA*/
/*SOLUCION-MAPA*/
.googlemapa {
  position: relative;
  padding-bottom: 75%;
  overflow: hidden;
}
.googlemapa iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*FIN-MAPA*/
/*INICIO-RRSS-TRANSFORMACION-AUMENTADA*/
.fa-facebook {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-facebook:hover {
  transform: scale(2);
}

.fa-twitter {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-twitter:hover {
  transform: scale(2);
}

.fa-instagram {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-instagram:hover {
  transform: scale(2);
}

.fa-youtube {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-youtube:hover {
  transform: scale(2);
}

.fa-whatsapp {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-whatsapp:hover {
  transform: scale(2);
}

.fa-linkedin {
  transition-property: transform;
  transition-duration: 300ms;
  transition-timing-function: ease;
}
.fa-linkedin:hover {
  transform: scale(2);
}
/*FIN-RRSS-TRANSFORMACION-AUMENTADA*/
/*INICIO-RRSS-TRANSICION-CUBIC-BEZIER*/
.imagen {
  transition: all 100ms ease-in 100ms;
}
.imagen:hover {
  width: 235px;
  height: 209px;
}

/*FIN-RRSS-TRANSICION-CUBIC-BEZIER*/
/*INICIO-FORMULARIO-NUEVO*/
#contacto-filas {
  margin: auto;
  box-sizing: border-box;
  text-align: center;
}

.formulario-de-contacto {
  font-size: 15px;
  margin-bottom: 20px;
  padding: 30px;
  margin-top: 20px;
  font-family: "calibri";
  color: white;
}
.formulario-de-contacto .botons {
  width: 30%;
  background: #5488a3;
  border: none;
  padding: 12px;
  color: white;
  margin: 6px 0;
  font-size: 15px;
}

.controls {
  width: 50%;
  background: #24303c;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 16px;
  border: 1px solid #1f53c5;
  font-family: "calibri";
  font-size: 18px;
  color: white;
}







/* EQUIPO*/
#teams {
  background-color: #27a599;
  width: 100%;
  position: relative;
  color: #ffffff;
}
div#teams {
  padding-top: 105px;
  padding-bottom: 30px;
}
.text-center {
    text-align: center!important;
}
.teams-heading span {
  font-size: 1.25rem;
  display: block;
  text-transform: capitalize;
  color: #00bcd4;
  text-align: center;
}
.teams-heading h1 {
  font-weight: 300;
  text-align: center;
}
.heading_space {
  margin-bottom: 4.125rem;
}
.teams-item {
  background-color: #ffffff;
  height: 400px;
}
.teams-items-img img {
  display: block;
  width: 100%;
}
.teams-item {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 280px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.teams-item * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.teams-item .profile-image {
  padding: 15% 10% 0;
}
.teams-item .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 50%;
  max-width: 40%;
}
.teams-item div {
  padding: 5% 10% 15%;
}
.teams-item h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}
.teams-item h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}
.teams-item .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}
.teams-item .icons i:hover {
  color: #555;
}
.teams-item .icons i a {
  text-decoration: none;
}
@media (max-width: 705.98px) {
  .teams-item-box {
    margin: 0 auto;
    width: 300px;
  }
 }
/* EQUIPO*/









/* INICIO CONTACTO MAP*/
.contact {
  padding-top: 100px;
}
.container .map {
  width: 100%;
  height: 200px;
}

iframe {
  width: 100%;
  border: none;
}
.contact form {
  margin: 3rem;
}

.contact-icon {
  text-align: center;
  font-size: 35px;
}
.text-blue {
  color: rgb(0, 171, 201);
}

.contact-heading {
  margin-top: 2rem;
}

.form-input-style {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  background-color: #ddd;
  font-size: 13px;
  height: 45px;
}


.form-input-style-message {
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: 1px solid #ddd;
  box-shadow: none;
  background-color: #ddd;
  font-size: 13px;
}

@media (max-width: 705.98px) {
  
  .contact p {
    text-align: center;
  }

 }
/* INICIO CONTACTO MAP*/

/*# sourceMappingURL=style.css.map */
